/*TABLA DE RESULTADOS*/

/*Navegador*/

header .brand .logo img{
	width: 64px;
	height: 66px;
	padding-left:0;
	padding-right:0;
}

.brand h1 {
	width: 200px;
}

.volver {
	text-align: center;
	width: 40px;
	border: 3px solid rgba(37, 59, 110, 0.6);
	border-radius: 10px;
	align-items: center;	
	z-index:221;
	position: absolute;
	top: 110px;
	left: 100px;
	background: none;
	padding:5px;
	padding-right:10px;
}

.volver:hover{
	background: rgba(24, 145, 172, 0.5);
}

.volver span{
	padding:5px;
	padding-right:10px;
	margin:auto;
	color: #253B6E;
}

/*Tabla*/

.resultados{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");	
}

table{
	margin: auto;
	border: 5px solid #1F5F8B;
	border-spacing: 0;
	border-collapse: collapse;
	background: #D2ECF9;
	margin-bottom: 50px;
}

th{
	align-items: center;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid #1F5F8B;
	background: rgba(24, 145, 172, 0.5);
	max-width: 170px;
}

b{
	text-align: center;
	font-size: 20px;
    color: #D2ECF9;
    font-weight: 700;
}

td{
	align-items: center;
	text-align: center;
	border: 3px solid #1F5F8B;
	border-spacing: 0;
	font-size: 16px;
	color: #1891AC;
	font-weight: 500;
}

.sin-resultado{
	color: red;
}

img {
	height: 250px;
	padding: 15px;
}